        <div class="diff-detail">
            <div class="change-type {{.ChangeType}}">{{.Symbol}} {{.Text}}</div>
            {{if eq .ChangeType "addition"}}<div class="yaml-content yaml-addition">{{.Content}}</div>
            {{else if eq .ChangeType "removal"}}<div class="yaml-content yaml-removal">{{.Content}}</div>
            {{else if eq .ChangeType "modification"}}<div class="diff-modification">
                    <div class="yaml-content yaml-removal">- {{.FromContent}}</div>
                    <div class="yaml-content yaml-addition">+ {{.ToContent}}</div>
                </div>
            {{else if eq .ChangeType "orderchange"}}<div class="yaml-content yaml-modification">
                    <strong>Original Order:</strong>
                    <pre>{{.FromContent}}</pre>
                    <strong>New Order:</strong>
                    <pre>{{.ToContent}}</pre>
                </div>
            {{end}}
        </div>
